{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid" style="margin-top:20px">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h3 class="text-center">Товары в корзине</h3>
                <h5 class="text-center">Общая стоимость: {{total_amount_order}} руб.</h5>
                <form class="">
                    <table class="table text-center" style="margin-top:20px">
                        <thead>
                            <tr>
                                <th>Название товара</th>
                                <th>Количество</th>
                                <th>Цена за ед.</th>
                                <th>Общая цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prod in products_in_basket %}
                                <tr>
                                    <td class="text-left">
                                        {{prod.product.name}}
                                    </td>
                                    <td>
                                        <input value="{{prod.count}}" type="number"
                                        class="product_num_in_basket">
                                    </td>
                                    <td>
                                        <span class="product-price">
                                            {{prod.price_per_item}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="product-total-amount">
                                            {{prod.total_price}}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-right" style="margin-top:-50px">
                        <b>Сумма заказа: </b> <span id="total-order-amount">XXX</span>
                    </div>
                    <div class="text-right" style="margin-top:10px;">
                        <button type="submit" class="btn btn-primary btn-lg">Заказать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}